.second-navbar {
  top: 64px;
}

.invert-colors {
  filter: invert(100%);
}

.dark {
  background-color: #222;
  color: #fff;
  opacity: 30;
}

.light {
  background-color: #fff;
  color: #222;
  opacity: 30;
}
