.dark {
  background-color: #222;
  color: #fff;
  opacity: 30;
}

.light {
  background-color: #fff;
  color: #222;
  opacity: 30;
}

.moveUp {
  top: -0.5rem; /* Adjust this value to move the sidebar up or down */
}
